In [1]:
import pandas as pd

In [3]:
bangla_unlabeled_dataset = pd.read_csv("data/bangla_unlabeled.csv")
bangla_unlabeled_dataset

                             লিস্ট ফাকা জলদি আড দেন মামা
0          ভালবাসার গল্প পড়তে এই পেইজে লাইক দেন বন্ধুত্ব
1                           আমার অভিনিত অভিনয়ে সুযোগ চাই
2                   না বলা ভালোবাসা কিন্তু খুবই ভাল পোলা
3                           আবারও লেট হয়ছে মিনিট সেকেন্ড
4        জগন্নাথের শিক্ষার্থীরা এটা মেনে নিবে না। এটা ...
...                                                   ...
299994   নাউযুবিল্লাহ মুসলমান হয়ে এরকম একজন দুচরিত্রাক...
299995   এই সালারা সব ফাজিল চোদা যতসব ফালতু চোদা নিউজ ...
299996              বিয়ে করে হক পথে আনো তাহলে আপত্তি নাই
299997   ফেসবুকটা ভুয়া খবর প্রচার কইরা খাইলো এই খানকির...
299998   অ ভাই আমির ও কে বিয়ে করে কোন লাভ নাই ওর মাঝে ...

[299999 rows x 1 columns]