In [2]:
import pandas as pd

In [108]:
bangla_unlabeled_dataset = pd.read_csv("data/bangla_unlabeled.csv")
bangla_unlabeled_dataset.columns = ["text"]
bangla_unlabeled_dataset["language"] = "bangla"
bangla_unlabeled_dataset.to_csv('data/labeled/bangla_labeled.csv', index=False)

                                                     text language
0          ভালবাসার গল্প পড়তে এই পেইজে লাইক দেন বন্ধুত্ব    bangla
1                           আমার অভিনিত অভিনয়ে সুযোগ চাই    bangla
2                   না বলা ভালোবাসা কিন্তু খুবই ভাল পোলা    bangla
3                           আবারও লেট হয়ছে মিনিট সেকেন্ড    bangla
4        জগন্নাথের শিক্ষার্থীরা এটা মেনে নিবে না। এটা ...   bangla
...                                                   ...      ...
299994   নাউযুবিল্লাহ মুসলমান হয়ে এরকম একজন দুচরিত্রাক...   bangla
299995   এই সালারা সব ফাজিল চোদা যতসব ফালতু চোদা নিউজ ...   bangla
299996              বিয়ে করে হক পথে আনো তাহলে আপত্তি নাই    bangla
299997   ফেসবুকটা ভুয়া খবর প্রচার কইরা খাইলো এই খানকির...   bangla
299998   অ ভাই আমির ও কে বিয়ে করে কোন লাভ নাই ওর মাঝে ...   bangla

[299999 rows x 2 columns]

In [113]:
banglish_unlabeled_dataset = pd.read_csv("data/bangllish_unlabeled.csv")
banglish_unlabeled_dataset.columns = ["text"]
banglish_unlabeled_dataset["language"] = "anglo-bangla"

banglish_unlabeled_dataset.to_csv('data/labeled/banglish_labeled.csv', index=False)

In [114]:
mixed_dataset1 = pd.read_csv('data/mixDataset.csv')
mixed_dataset1.columns = ['text', 'language']
english_dataset1 = mixed_dataset1[mixed_dataset1['language']=='English']
english_dataset1 = english_dataset1.apply(lambda x: x.replace('English', 'english'))
english_dataset1.to_csv('data/labeled/english_dataset1.csv', index=False)

In [115]:
mixed_dataset2 = pd.read_csv('data/mixed_dataset2.csv')
mixed_dataset2.columns = ['text', 'language']
english_dataset2 = mixed_dataset2[mixed_dataset2['language']=='English']
english_dataset2 = english_dataset2.apply(lambda x: x.replace('English', 'english'))
english_dataset2.to_csv('data/labeled/english_dataset2.csv', index=False)

In [116]:
english_quotes = pd.read_csv('data/english_quotes.csv')
english_quotes = english_quotes['Quote']
english_quotes = english_quotes.to_frame()
english_quotes = english_quotes['Quote'].apply(lambda x: x.replace('“', '')).to_frame()
english_quotes.columns = ['text']
english_quotes['language'] = 'english'
english_quotes.to_csv('data/english_dataset3.csv', index=False)
# for index, value in english_quotes.items():
#     print(value.replace('“', ''))

In [117]:
english_dataset4 = pd.read_csv("data/English_phrases_and_sayings.csv")
english_dataset4 = english_dataset4['text'].to_frame()
english_dataset4['language'] = 'english'
english_dataset4.to_csv("data/labeled/english_dataset4")

                                                     text language
0          ভালবাসার গল্প পড়তে এই পেইজে লাইক দেন বন্ধুত্ব    bangla
1                           আমার অভিনিত অভিনয়ে সুযোগ চাই    bangla
2                   না বলা ভালোবাসা কিন্তু খুবই ভাল পোলা    bangla
3                           আবারও লেট হয়ছে মিনিট সেকেন্ড    bangla
4        জগন্নাথের শিক্ষার্থীরা এটা মেনে নিবে না। এটা ...   bangla
...                                                   ...      ...
299994   নাউযুবিল্লাহ মুসলমান হয়ে এরকম একজন দুচরিত্রাক...   bangla
299995   এই সালারা সব ফাজিল চোদা যতসব ফালতু চোদা নিউজ ...   bangla
299996              বিয়ে করে হক পথে আনো তাহলে আপত্তি নাই    bangla
299997   ফেসবুকটা ভুয়া খবর প্রচার কইরা খাইলো এই খানকির...   bangla
299998   অ ভাই আমির ও কে বিয়ে করে কোন লাভ নাই ওর মাঝে ...   bangla

[299999 rows x 2 columns]

In [123]:
bangla_dataset = pd.read_csv('data/labeled/bangla_labeled.csv')
banglish_dataset = pd.read_csv('data/labeled/banglish_labeled.csv')

In [134]:
final_dataset = pd.concat([bangla_dataset[0:70000],  banglish_dataset, english_dataset1, english_dataset2,english_quotes, english_dataset4])
final_dataset = final_dataset.sample(frac=1)
final_dataset.reset_index(drop=True, inplace=True)
final_dataset

                                                     text      language
0        Tmr barite barate asa kono loker kisu jodi tm...  anglo-bangla
1        আপনাদের যদি প্রশ্ন করা হয়। সে প্রশ্নের উত্তর ...        bangla
2       Some choices are better than others and we, as...       english
3        আজ তারিখের প্রথম আলো পত্রিকা কি এর বিজ্ঞাপন এ...        bangla
4        আমাদের দেশে পাইলে বুঝায় দিতাম বাংঙ্গালী কি জি...        bangla
...                                                   ...           ...
154672                        ami to taim e bolte parina   anglo-bangla
154673   এই মাগীডারে ভালো ভেবেছিলাম জানতাম সে জীবনে অন...        bangla
154674          মাশাল্লাহ অসাধারণ খুব খুব সুন্দর লাগতেছে         bangla
154675   ক্লাসরুমে এসব কি করে দেখুন।বন্ধু বলে সব করত দ...        bangla
154676  Sudho ki tai koto guli armi Mara gese tar hisa...  anglo-bangla

[154677 rows x 2 columns]

In [135]:
final_dataset.drop_duplicates()
final_dataset.to_csv("data/labeled/final_dataset.csv", index=False)